body {
    background-color: #FbFbFb;
    background-image: linear-gradient(to bottom, #FbFbFb, #f3f3f3);
}

.custom-login {
    position: relative;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}