#page {
    position: relative;
    min-height: 100%;
}

#nav {
    height: 55px;
}

#body {

}

#pagefooter {
    padding-top: 1px;
    height: 100px;
    width: 100%;
}

textarea {
    width:100%
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.mini_appointment {
    border-bottom: solid #ddd;
    margin: 1px;
    padding: 2px
}