/*The following apply to the global template*/
#page {
    position: relative;
    min-height: 100%;
    background-color: darkcyan;
}

#nav {
    height: 52px;
}

#navbar {
    padding-left: 10%;
    padding-right: 10%;
}

#content {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    background-color: ghostwhite;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#pagefooter {
    background-color: ghostwhite;
    border-radius: 20px;
    width: 100%;
}

/*The following apply to any type of this element*/
textarea {
    width: 100%
}

/*The following apply to different pages*/

.mini_appointment {
    border-bottom: solid #ddd;
    margin: 1px;
    padding: 2px
}

.blink {
    background-color: #FF6666 !important;
    border-left: 1px;
    border-radius: 6px;
!important;
}

.alertDoctor {
    background-color: #FF6666 !important;
    border-left: 1px;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 10px;
    height: 40px;
}

/*Pages that list things.*/
.border_row {
    border-bottom-style: solid;
    border-width: 1px;
}
.padded_row {
    padding-left: 20px;
    padding-right: 20px;
}