/*The following apply to the global template*/
#page {
    position: relative;
    min-height: 100%;
    background-image: linear-gradient(to bottom, #79E0D8, white);
    background-image: -o-linear-gradient(top, #79E0D8, white);
    background-image: -moz-linear-gradient(top, #79E0D8, white);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#79E0D8), to(white));
    background-image: -webkit-linear-gradient(top, #79E0D8, white);
}

#nav {
    height: 52px;
}

#navbar {
    padding-left: 10%;
    padding-right: 10%;
}

#content {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    background-color: ghostwhite;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#pagefooter {
    background-color: #F3B9B9;
    border-radius: 6px;
    width: 100%;
}

/*The following apply to any type of this element*/
textarea {
    width: 100%
}

/*http://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats*/
body {
    background-image: linear-gradient(to bottom, #79E0D8, white);
    background-image: -o-linear-gradient(top, #79E0D8, white);
    background-image: -moz-linear-gradient(top, #79E0D8, white);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#79E0D8), to(white));
    background-image: -webkit-linear-gradient(top, #79E0D8, white);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.custom-login {
    position: relative;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/*The following apply to different pages*/

.mini_appointment {
    border-bottom: solid #ddd;
    margin: 1px;
    padding: 2px
}

.blink {
    background-color: #FF6666 !important;
    border-left: 1px;
    border-radius: 6px;
!important;
}

.alertDoctor {
    background-color: #FF6666 !important;
    border-left: 1px;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 10px;
    height: 40px;
}

.row-warning {
    background-image: url("/images/Authorized.gif"), url("/images/Authorized.gif");
    background-size: contain, contain;
    background-repeat: no-repeat, no-repeat;
    background-position: 1%, 99%;
}

#master-password.col-sm-2 {
    color: transparent;
}

#master-password:hover.col-sm-2 {
    color: inherit;
}

/*Pages that list things.*/
.border_row {
    border-bottom-style: solid;
    border-width: 1px;
}

.padded_row {
    padding-left: 20px;
    padding-right: 20px;
}

